h1 {
    margin: 0;
    padding: 20px 0;
    color: rgb(43, 0, 255);
    text-shadow: 3px 3px 1px rgb(255, 242, 0);
    text-align: center;

}

img {
    width: 50%;
    margin: 0 auto;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

body {
    background-color: rgba(197, 193, 134, 0.759);
    width: 600px;
    margin: 0 auto;
    border: 5px solid rgb(0, 0, 0) ;
}

p{
    color: blue;
    text-align: center;
    font-size: 30;
}

ul {
    color: rgba(210, 29, 29, 0.875);
    text-align: center;
    font-size: 30;
}

html {
    background-color: rgb(99, 97, 103);

}

li.one{
    border:dotted coral;
    border-width: 4px;
}

li.three{
    border:dotted coral;
    border-width: 4px;
}